.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
    background-color: white;
    padding: 1rem;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
    background-color: white;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

@media (min-width: 768px) {
    .product-image{
        grid-row: 1/-1;
        grid-column: 1/2;
    }
   .product-item {
       display: grid;
       grid-template-columns: 1fr 2fr;
       grid-template-rows: 1fr auto;
   }
   .product-info{
       grid-column: 2/3;
       grid-row: 1/2;
   }
   .product-header{
       padding-bottom: 0;
   }

   .product-actions {
        grid-column: 1/-1;
        grid-row: 2/3;
        display: flex;
        height: fit-content;
        justify-content: center;
   }
   .product-actions a{
       width: auto;
   }
}